@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #080708;
  --secondary: #3772ff;
  --tertiary: #df2935;
  --quaternary: #fdca40;
  --quinary: #e6e8e6;
}

.authInput {
  @apply border-2 border-secondary px-2 py-1 w-full;
}

.authSubmit {
  @apply px-2 py-1 bg-secondary text-white w-full;
}

.authForm {
  @apply flex flex-col items-center shadow-2xl px-14 py-12 gap-8 bg-gradient-to-br from-slate-200 to-zinc-300 w-[26rem];
}

.navLink {
  @apply text-secondary bg-white px-2 py-1;
}

.navLink.active {
  @apply bg-secondary text-white;
}

.navLink:hover {
  @apply bg-primaryMild text-white;
}

.custButton {
  @apply bg-secondary text-white px-1 py-[2px] mt-2;
}

.custButton:hover {
  background-color: var(--tertiary);
}

.selectBox {
  border: solid 2px var(--primary);
  border-top: solid 0px;
  padding: 10px;
}

.inputBox {
  @apply border-2 text-base font-normal;
}

.profileSectionTitle {
  @apply text-xl font-bold col-span-2;
}

.profileOption {
  @apply text-xl flex flex-col;
}

.cuisine {
  @apply border-2 w-40 rounded-lg flex place-content-between bg-quinary my-2 p-0.5;
}
