@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #080708;
  --secondary: #3772ff;
  --tertiary: #df2935;
  --quaternary: #fdca40;
  --quinary: #e6e8e6;
}

.authInput {
  @apply border-2 border-secondary px-2 py-1 w-full transition-colors focus-within:outline-none focus-within:border-tertiary;
}

.authSubmit {
  @apply px-2 py-1 bg-secondary text-white w-full transition-all;
}

.authSubmit:hover {
  @apply filter brightness-90;
}

.authSubmit:disabled {
  @apply filter brightness-150;
}

.authForm {
  @apply flex flex-col items-center shadow-2xl px-14 py-12 gap-8 bg-gradient-to-br from-slate-200 to-zinc-300 w-[26rem];
}

.boxStyle {
  @apply shadow-xl p-4 gap-8 bg-gradient-to-br from-slate-200 to-zinc-300;
}

.boxStyleSelected {
  @apply shadow-2xl scale-105 p-4 gap-8 bg-gradient-to-br from-slate-200 to-zinc-300;
}

.navLink {
  @apply text-secondary bg-white px-2 py-1 transition-colors;
}

.navLink.active {
  @apply bg-secondary text-white;
}

.navLink:hover {
  @apply bg-primaryMild text-white;
}

.custButton {
  @apply bg-secondary text-white px-1 py-[2px] mt-2 transition-colors duration-75;
}

.custButton:hover {
  background-color: var(--tertiary);
}

.inputBox {
  @apply border-2 text-base font-normal;
}

.profileSectionTitle {
  @apply text-xl font-bold col-span-2;
}

.profileOption {
  @apply text-xl flex flex-col;
}

.cuisine {
  @apply border-2 w-40 rounded-lg flex place-content-between bg-quinary my-2 p-0.5;
}

.delete-restaurant-button {
  @apply text-white bg-red-500 text-xl px-12 py-4 mb-8 hover:bg-red-600 transition-colors;
}

.pageTitle {
  @apply text-4xl py-2 font-bold border-b-4 border-secondary;
}
